<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success alert-dismissible fade show" th:if="${message!=null}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span th:text="${message}"></span>
    </div>
    <div class="form-group">
        <form method="post">
            <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mật khẩu cũ</span>
            </div>
            <input type="password" class="form-control"  name="old-password" id="input-old-password">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Mật khẩu mới</span>
                </div>
                <input type="password" class="form-control"
                       name="new-password" id="input-new-password">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Nhập lại mật khẩu mới</span>
                </div>
                <input type="password" class="form-control" name="renew-password" id="input-renew-password">

            </div>
            <div id="alert-password">

            </div>
            <div class="input-group input-group-sm mb-3 align-content-center">
                <input type="submit" class="btn form-group w-50 "  value="Lưu" id="input-submit-form">
            </div>
        </form>
        <script >
           let inputSubmitForm = document.getElementById("input-submit-form");
           let password = document.getElementById("input-new-password")
               , confirm_password = document.getElementById("input-renew-password");
           let alertPassword = document.getElementById("alert-password");
           inputSubmitForm.disabled = true;
           function validatePassword(){
               if(password.value.length>=6 )
                   if(password.value !== confirm_password.value) {
                   inputSubmitForm.disabled = true;
                   alertPassword.innerText = "Password không trùng khớp !";
                   inputSubmitForm.classList.remove("btn-success");
               } else {
                   inputSubmitForm.disabled = false;
                   alertPassword.innerText = "";
                   inputSubmitForm.classList.add("btn-success")
               }
               else alertPassword.innerText = "";
           }

           password.onchange = validatePassword;
           password.onkeyup = validatePassword;
           confirm_password.onkeyup = validatePassword;
        </script>
    </div>
</div>
</body>
</html>