<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-success">
                <strong> <button type="button" onclick="insertNewDv_03_01()" class="btn btn-success">Nhập hàng mới</button></strong>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <theader>
                    <tr>
                        <th>STT</th>
                        <th>Tên Dich Vụ</th>
                        <th>Giá</th>
                        <th>Ðon Vị Ðo</th>
                        <th>Options</th>
                    </tr>
                </theader>
                <tbody  id="data-container_03_01">
                </tbody>
            </table>
            <div id="pagination-dich-vu_03_01"></div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="alert alert-primary text-center card-header">
                    <span id="thongtin-dich-vu_03_01">Thêm Dịch Vụ </span>
                </div>
                <div class="card-body">
                    <input type="hidden" id="id-dich-vu_03_01">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Tên Dịch Vụ</span>
                        </div>
                        <input type="text" class="form-control" id="ten-dich-vu_03_01"  aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Giá Dịch Vụ</span>
                        </div>
                        <input type="text" class="form-control" id="gia-dich-vu_03_01" aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Ðon Vị Ðo</span>
                        </div>
                        <input type="text" class="form-control" id="don-vi-do_03_01" aria-label="Username" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="sendDataToserve_03_01()" id="new-kh_03_01" class="btn btn-primary w-100" disabled>
                        Thêm D?ch V?
                    </button>
                    <button type="button"   onclick="updateDataToserve_03_01()" id="update-kh_03_01" class="btn btn-primary w-100 d-none" disabled>
                        C?p nh?t D?ch V?
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    validOnlyNumber('new-kh_03_01', 'gia-dich-vu_03_01');
    validOnlyNumber('update-kh_03_01', 'gia-dich-vu_03_01');

    getDichVu_03_01();
    function getDichVu_03_01() {
        $('#pagination-dich-vu_03_01').pagination({
            dataSource: `${apiResource}dich-vu`,
            locator: 'content',
            totalNumberLocator: res =>  res.totalElements,
            pageSize: 5,
            callback: function(data, pagination) {
                $('#data-container_03_01').html('');
                $.each(data, (index, kh) =>
                    insertDichVu_03_01((pagination.pageSize) * (pagination.pageNumber -1) + index +1, kh.id, kh.tenDichVu, kh.gia, kh.donViDo)
                )
            }
        });
    }
    function insertDichVu_03_01( stt, id, tenDichVu, gia, donViDo, gioiTinh) {
        $('#data-container_03_01').html($('#data-container_03_01').html() +`
                    <tr >

                        <td>${stt}</td>
                        <td>${tenDichVu}</td>
                        <td>${gia}</td>
                        <td>${donViDo}</td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="updateTTDV_03_01(${id}, '${tenDichVu}', ${gia}, '${donViDo}')">Edit</button>
                            <button type="button" class="btn btn-danger" onclick="xoaKhachHang_03_01(${id})">Delete</button>
                        </td>
                    </tr>
            `);
    }
    function updateTTDV_03_01(id, tenDichVu, gia,donViDo) {
        $('#id-dich-vu_03_01').val(id);
        $('#ten-dich-vu_03_01').val(tenDichVu);
        $('#gia-dich-vu_03_01').val(gia);
        $('#don-vi-do_03_01').val(donViDo);
        showAndHide('update-kh_03_01', 'new-kh_03_01');


    }
    function insertNewDv_03_01() {

        // $('#thongtin-dich-vu_03_01').text(`Thêm M?i D?ch V?`);
        // $('#ten-dich-vu_03_01').val('');
        // $('#gia-dich-vu_03_01').val('');
        // $('#don-vi-do_03_01').val('');
        // showAndHide('new-kh_03_01','update-kh_03_01' )
        window.location.href = `${window.location.origin}/nhap-hang`;
    }

    function sendDataToserve_03_01() {
        let data = {
            idDichVu: $('#id-dich-vu_03_01').val(),
            tenDichVu : $('#ten-dich-vu_03_01').val(),
            gia: $('#gia-dich-vu_03_01').val(),
            donViDo : $('#don-vi-do_03_01').val()
        };
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}dich-vu`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function updateDataToserve_03_01() {

        let data = {
            id: parseInt($('#id-dich-vu_03_01').val()),
            tenDichVu : $('#ten-dich-vu_03_01').val(),
            gia: $('#gia-dich-vu_03_01').val(),
            donViDo : $('#don-vi-do_03_01').val()
        };
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}update-dich-vu`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                getDichVu_03_01();
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function xoaKhachHang_03_01(id) {
        $.get(`${apiResource}xoa-dich-vu/${id}`,(res, status) => {
            $(`#id-dich-vu_03_01`).remove();
            getDichVu_03_01();

        });
    }
</script>
</body>
</html>
