<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-success">
                <strong> <button type="button" onclick="insertNewDv()" class="btn btn-success">Thêm Mới</button></strong>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <theader>
                    <tr>
                        <th>STT</th>
                        <th>Tên Dich Vụ</th>
                        <th>Đơn Vị ĐO</th>
                        <th>Giá</th>
                        <th>Options</th>
                    </tr>
                </theader>
                <tbody  id="data-container">
                </tbody>
            </table>
            <div id="pagination-dich-vu"></div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="alert alert-primary text-center card-header">
                    <span id="thongtin-dich-vu">Thêm Khách Hàng </span>
                </div>
                <div class="card-body">
                    <input type="hidden" id="id-dich-vu">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Tên Dịch Vụ</span>
                        </div>
                        <input type="text" class="form-control" id="ten-dich-vu" placeholder="Lê Văn Tuấn " aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Giá Dịch Vụ</span>
                        </div>
                        <input type="text" class="form-control" id="gia-dich-vu" placeholder="0986488737" aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Đơn Vị Đo</span>
                        </div>
                        <input type="text" class="form-control" id="don-vi-do" placeholder="18771684" aria-label="Username" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="sendDataToserve()" id="new-kh" class="btn btn-primary w-100">
                        Thêm Dịch Vụ
                    </button>
                    <button type="button"   onclick="updateDataToserve()" id="update-kh" class="btn btn-primary w-100 d-none">
                        Cập nhật Dịch Vụ
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let dichVu = []
    getDichVu();
    function getDichVu() {
        $('#pagination-dich-vu').pagination({
            dataSource: `${apiResource}dich-vu`,
            locator: 'content',
            totalNumberLocator: res =>  res.totalElements,
            pageSize: 5,
            callback: function(data, pagination) {
                $('#data-container').html('');
                $.each(data, (index, kh) =>
                    insertDichVu((pagination.pageSize) * (pagination.pageNumber -1) + index +1, kh.id, kh.tenDichVu, kh.gia, kh.donViDo)
                )
            }
        });
    }
    function insertDichVu( stt, id, tenDichVu, gia, donViDo, gioiTinh) {
        $('#data-container').html($('#data-container').html() +`
                    <tr >

                        <td>${stt}</td>
                        <td>${tenDichVu}</td>
                        <td>${gia}</td>
                        <td>${donViDo}</td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="updateTTDV(${id}, '${tenDichVu}', ${gia}, '${donViDo}'">Edit</button>
                            <button type="button" class="btn btn-danger" onclick="xoaKhachHang(${id})">Delete</button>
                        </td>
                    </tr>
            `);
    }
    function updateTTDV(id, tenDichVu, gia,donViDo) {
        $('#id-dich-vu').val(id);
        $('#ten-dich-vu').val(tenDichVu);
        $('#gia-dich-vu').val(gia);
        $('#don-vi-do').val(donViDo);
        showAndHide('update-kh', 'new-kh');


    }
    function insertNewDv() {
        $('#thongtin-dich-vu').text(`Thêm Mới Dịch Vụ`);
        $('#ten-dich-vu').val('');
        $('#gia-dich-vu').val('');
        $('#don-vi-do').val('');
        $('#update-kh').text(" Thêm Khách Hàng");
        $('#update-kh').click(sendDataToserve());
    }

    function sendDataToserve() {
        let data = {
            idDichVu: $('#id-dich-vu').val(),
            tenDichVu : $('#ten-dich-vu').val(),
            gia: $('#gia-dich-vu').val(),
            donViDo : $('#don-vi-do').val()
        };
        console.log(data, '000000000');
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}dich-vu`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function updateDataToserve() {

        let data = {
            id: parseInt($('#id-dich-vu').val()),
            tenDichVu : $('#ten-dich-vu').val(),
            gia: $('#gia-dich-vu').val(),
            donViDo : $('#don-vi-do').val()
        };
        console.log('duoc ko?', data)
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}update-dich-vu`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                getKhachHang();
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function xoaKhachHang(id) {
        $.get(`${apiResource}xoa-dich-vu/${id}`,(res, status) => {
            $(`#id-dich-vu`).remove();
            getDichVu();

        });
    }
</script>
</body>
</html>
