<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="_bang_hoa_don_04_0">
            <div class="text-center d-none">
                <p>KARAOKE IONE</p>
                <p>Địa chỉ : 180 Nguyễn Tuân - Quận Thanh Xuân - Hà Nội</p>
                <p>Hotline : 0978785678</p>

            </div>
            <div class="alert alert-success text-center">
                <strong style="font-size: 1.5em">HÓA ĐƠN BÁN HÀNG</strong>
                <p id="_date_now_03_"></p>
                <p id="_ma_hoa_don_03_"></p>
            </div>
            <div class="d-flex justify-content-center">
                <button id="_btn_vao_phong_03_0" class="btn btn-success ml-2 mr-2 d-none" onclick="vaoPhong()">Vào Phòng</button>
                <button id="_btn_ra_phong_03_0" class="btn btn-info  ml-2 mr-2 d-none" onclick="raPhong()">Ra Phòng</button>
                <button id="_btn_show_them_dich_vu_03_0" class="btn btn-danger  ml-2 mr-2 d-none" onclick="showThemDichVu()">Them dich vu</button>
                <button id="_btn_huy_phong_03_0" class="btn btn-danger  ml-2 mr-2 d-none" onclick="huyPhong()">Hủy Phòng</button>
                <button id="_btn_in_hoa_don_03_0" class="btn btn-danger  ml-2 mr-2 d-none" onclick="inHoaDon()">In Hóa đơn</button>
            </div>
            <div class="mt-2 row">
                <div class="col-6 text-left">
                    <span id="_thong_tin_nhan_vien_03_"></span>
                </div>
                <div class="col-6 text-right">
            <span id="_thoi_gian_hien_tai">

            </span>
                </div>
            </div>
            <table class="table table-bordered">
                <theader>
                    <th class="text-left" width="14%"> Giờ đặt</th>
                    <th class="text-left" width="14%"> Giờ vào</th>
                    <th class="text-left" width="14%"> Giờ ra</th>
                    <th class="text-left" width="14%"> Tổng giờ</th>
                    <th class="text-left" width="14%"> Loại phòng</th>
                    <th class="text-left" width="14%"> Đơn giá</th>
                    <th class="text-left" width="14%"> Thành tiền</th>
                </theader>
                <tbody>
                <tr>
                    <td>
                        <span id="_gio_dat_phong_03_"></span>
                    </td>
                    <td>
                        <span id="_gio_vao_phong_03_"></span>
                    </td>
                    <td>
                        <span id="_gio_ra_phong_03_"></span>
                    </td>
                    <td>
                        <span id="_tong_gio_03_"></span>
                    </td>
                    <td>
                        <span id="_loai_phong_03_"></span>
                    </td>
                    <td>
                        <span id="_don_gia_03_"></span> vnđ
                    </td>
                    <td>
                        <span id="_thanh_tien_03_"></span> vnđ
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <theader>
                    <th class="text-center" width="40%"> Mặt hàng</th>
                    <th class="text-center" width="5%">SL</th>
                    <th class="text-center" width="15%">ĐVT</th>
                    <th class="text-center" width="15%">Đơn giá</th>
                    <th class="text-center" width="15%">Thành tiền</th>
                    <th width="10%" class="_huy_dich_vu"> </th>
                </theader>
                <tbody id="_danh_sach_dich_vu_trong_hoa_don">
                <tr class="text-center"><td>Không có dịch vụ nào</td></tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-leftt">Tiền Coc</div>
                                <div class="col-6 text-right">
                                    <span id="_tien_coc_03_01_0"></span> vnđ
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-leftt">Tiền phòng</div>
                                <div class="col-6 text-right">
                                    <span id="_don_gia_phong_03_01_0"></span> vnđ
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-leftt">Tiền dịch vụ</div>
                                <div class="col-6 text-right">
                                    <span id="_tong_tien_dich_vu04_01"></span> vnđ
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-leftt">Tổng tiền</div>
                                <div class="col-6 text-right">
                                    <span id="_tong_tien_hoa_don_03_0"></span> vnđ
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item active">
                            <div class="row">
                                <div class="col-6 text-leftt">Thanh toan</div>
                                <div class="col-6 text-right">
                                    <span id="_thanh_toan_tien_03_0"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 d-none" id="_danh_sach_vat_tu_04_0">
            <div class="card">
                <div class="card-header">
                    <div class="alert alert-success text-center alert-link w-100">
                        <strong >Danh sach vat tu</strong>
                    </div>
                    <button class="btn btn-dark w-100" onclick="huyThemDichVu()">
                        <i class="fa fa-arrow-left"></i> huy
                    </button>
                </div>
                <div class="card-body">
                    <table class="w-100 table table-sm  table-striped" id="data-dich_vu_04_01">
                    </table>
                </div>
                <div class="card-footer">
                    <div id="pagination-dich-vu_04_01"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_them_dich_vu_04_01">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card" id="_have_dich_vu">
                <div class="card-header">
                    <div class="alert alert-primary text-center" role="alert">
                        <strong> Them dich vu</strong>
                    </div>
                </div>
                <div class="card-body">
                    <input type="hidden" id="_get_id_them_dich_vu">
                    <input id="input_so_luong_dich_vu_them" max="5" min="1" type="number" value="1"/>
                    <button class="btn btn-success w-25" data-dismiss="modal" onclick="onThemDichVu()"> Save
                    </button>
                    <button class="btn btn-danger w-25" data-dismiss="modal"> Huy</button>
                </div>
            </div>
            <div class="card text-center text-danger d-none" id="_non_have_dich_vu">
                Dich vu nay hien tai da het trong kho
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_huy_dich_vu_04_01">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card" id="_have_huy_dich_vu">
                <div class="card-header">
                    <div class="alert alert-primary text-center" role="alert">
                        <strong> Huy Vat tu</strong>
                    </div>
                </div>
                <div class="card-body">
                    <input type="hidden" id="_get_id_huy_dich_vu">
                    <input id="input_so_luong_dich_vu_huy" max="5" min="1" type="number" value="1"/>
                    <button class="btn btn-success w-25" data-dismiss="modal" onclick="onHuyDichVu()"> Save
                    </button>
                    <button class="btn btn-danger w-25" data-dismiss="modal"> Huy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let hoadon = /*[[${hoadon}]]*/ 'Sebastian';
    console.log(hoadon);
    let chiTietHoaDon = /*[[${chiTietHoaDon}]]*/
    $('#_header_hoa_don_03_0').text(`Thông tin hóa đơn phòng ${hoadon.phong.maPhong}`);
    $('#_date_now_03_').text(` Ngày ${formatDate()}`);
    $('#_ma_hoa_don_03_').text(` Mã hóa đơn : ${hoadon.maHoaDon}`);
    $('#_thong_tin_nhan_vien_03_').text(` Nhân viên tạo : ${hoadon.nhanVien.username}`);
    $('#_thoi_gian_hien_tai').text(` Thời gian tạo : ${formatTime()}`);
    $('#_gio_dat_phong_03_').text(`${formatDateTime(hoadon.thoiGianTao)}`);
    $('#_loai_phong_03_').text(`${hoadon.phong.loaiPhong.loaiPhong}`);
    $('#_don_gia_03_').text(`${hoadon.phong.loaiPhong.tienPhongTrenGio}`);
    $('#_tien_coc_03_01_0').text(`${hoadon.tienCoc}`);
    $('#_don_gia_phong_03_01_0').text(`${parseInt(hoadon.phong.loaiPhong.tienPhongTrenGio)}`);


    function inHoaDon() {
        $('#_btn_in_hoa_don_03_0').addClass('d-none');
        $('._huy_dich_vu').addClass('d-none');
        let printContents = document.getElementById('_bang_hoa_don_04_0').innerHTML;
        let originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
        $('#_btn_in_hoa_don_03_0').removeClass('d-none');
        $('._huy_dich_vu').removeClass('d-none');
    }

    function setChiTietDichVu() {
        let tongTienDichVu = 0;
        if (chiTietHoaDon.length > 0) $('#_danh_sach_dich_vu_trong_hoa_don').html('');
        chiTietHoaDon.forEach(cthd => {
            $('#_danh_sach_dich_vu_trong_hoa_don').html($('#_danh_sach_dich_vu_trong_hoa_don').html() +
                `
    <tr>
                    <td>${cthd.dichVu.tenDichVu}</td>
                    <td>${cthd.soLuongDichVu}</td>
                    <td>${cthd.dichVu.donViDo}</td>
                    <td>${cthd.dichVu.gia}</td>
                    <td>${parseInt(parseInt(cthd.dichVu.gia) * parseInt(cthd.soLuongDichVu))} vnd</td>
                    <td class="_huy_dich_vu">
                    <button class="btn btn-danger w-100 " data-target="#modal_huy_dich_vu_04_01" data-toggle="modal"
                     onclick="setHuyDichVu(${cthd.dichVu.id}, ${cthd.soLuongDichVu})"> <i class="fa fa-remove"></i></button>
                    </td>
                </tr>
    `);
            tongTienDichVu += parseInt(parseInt(cthd.dichVu.gia) * parseInt(cthd.soLuongDichVu));
        });
        $('#_tong_tien_dich_vu04_01').text(!isNaN(tongTienDichVu) ? parseInt(tongTienDichVu) : '');
        $('#_don_gia_phong_03_01_0').text(!isNaN(parseInt($('#_thanh_tien_03_').text())) ? parseInt($('#_thanh_tien_03_').text()) : '');

        $('#_tong_tien_hoa_don_03_0').text(!isNaN(tongTienDichVu) && !isNaN(parseInt($('#_thanh_tien_03_').text())) ? parseInt(tongTienDichVu) + parseInt($('#_thanh_tien_03_').text()) : '');

        if (!isNaN($('#_tong_tien_hoa_don_03_0').text()) && !isNaN(tongTienDichVu)) {
            let $_tienCoc = parseInt($('#_tien_coc_03_01_0').text());
            let tienCoc = !isNaN($_tienCoc) ? $_tienCoc : 0;
            let $_tongTienHoaDon = parseInt($('#_tong_tien_hoa_don_03_0').text());
            let thanhToan = 'Chua tinh';
            if (!isNaN($_tongTienHoaDon)) {
                let tinhTien = $_tongTienHoaDon - tienCoc;
                if (tinhTien >= 0) {
                    thanhToan = `${$_tongTienHoaDon - tienCoc} vnd`;
                } else {
                    thanhToan = `Bù lại ${tienCoc - $_tongTienHoaDon} vnd`;
                }
            }
            $('#_thanh_toan_tien_03_0').text(thanhToan);
        }
    }

    function showThemDichVu() {
        showAndHide('_danh_sach_vat_tu_04_0', null);
        $('#_bang_hoa_don_04_0').removeClass('col-12');
        $('#_bang_hoa_don_04_0').addClass('col-8');
    }

    function huyThemDichVu() {
        showAndHide(null, '_danh_sach_vat_tu_04_0');
        $('#_bang_hoa_don_04_0').removeClass('col-8');
        $('#_bang_hoa_don_04_0').addClass('col-12');
    }

    function vaoPhong() {
        $.get(`${apiResource}hoa-don/vao-phong/${hoadon.id}`,(res, status) => {
        location.reload();
        });
    }

    function huyPhong() {
        $.get(`${apiResource}hoa-don/huy-phong/${hoadon.id}`,(res, status) => {
            window.location.href = `${window.location.origin}/phong-hat`;
        });
    }

    function raPhong() {
        $.get(`${apiResource}hoa-don/ra-phong/${hoadon.id}`,{tienPhong: parseInt($('#_don_gia_phong_03_01_0').text()),
            tienDichVu: parseInt($('#_tong_tien_dich_vu04_01').text())},(res, status) => {
            location.reload();
        });
    }

    // function disableAll() {
    //     $('#_btn_vao_phong_03_0').addClass('d-none');
    //     $('#_btn_ra_phong_03_0').addClass('d-none');
    //     $('#_btn_huy_phong_03_0').addClass('d-none');
    // }
    if (hoadon.tinhTrangHoaDon === 1) {
        $('#_btn_vao_phong_03_0').removeClass('d-none');
        $('#_btn_huy_phong_03_0').removeClass('d-none');
    }
    if (hoadon.tinhTrangHoaDon === 2) {
        $('#_btn_ra_phong_03_0').removeClass('d-none');
        $('#_btn_show_them_dich_vu_03_0').removeClass('d-none');

        let gioVao__ = hoadon.gioVao ? formatTime(new Date(hoadon.gioVao)) : '';
        $('#_gio_vao_phong_03_').text(`${gioVao__}`);

    }
    if (hoadon.tinhTrangHoaDon === 3) {
        let gioVao__ = hoadon.gioVao ? formatTime(new Date(hoadon.gioVao)) : '';
        $('#_gio_vao_phong_03_').text(`${gioVao__}`);
        let gioRa__ = hoadon.gioRa ? formatTime(new Date(hoadon.gioRa)) : '';
        $('#_gio_ra_phong_03_').text(`${gioRa__}`);
        tinhTienPhong();
    }

    if (hoadon.tinhTrangHoaDon === 3) {
        $('#_btn_in_hoa_don_03_0').removeClass('d-none');
    }
    function tinhGio() {
        var diff = Math.abs(new Date(hoadon.gioVao) - new Date(hoadon.gioRa));
        let m =  ((diff/1000) / 60);
        if (m < 60) {
            $('#_tong_gio_03_').text(`${parseInt(m)}'`);
            return {p: parseInt(m)}
        } else {
            let h = parseInt(m) / 60;
            let p = parseInt(m) - parseInt(h) * 60;
            let tinhGio = parseInt(p) < 10 ? `0${parseInt(p)}` : parseInt(p);
            $('#_tong_gio_03_').text(`${parseInt(h)} H : ${tinhGio}'`);
            return {h: parseInt(h), p: parseInt(p)}
        }
    }

    function tinhTienPhong() {
        let jsonTien = tinhGio();
        if (!jsonTien) return;
        if (jsonTien.h) {
            // Tính tiền . giờ
            let donGia = hoadon.phong.loaiPhong.tienPhongTrenGio * jsonTien.h;
            donGia += parseInt((hoadon.phong.loaiPhong.tienPhongTrenGio/60) * jsonTien.p);
            $('#_thanh_tien_03_').text(donGia);
        } else {
            $('#_thanh_tien_03_').text((hoadon.phong.loaiPhong.tienPhongTrenGio/60) * jsonTien.p);
        }
    }
    function formatDate() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [day, month, year].join('-');
    }
    function formatTime(val) {
        let d = val ? new Date(val) : new Date();
        let phut = d.getMinutes();
        if (d .getMinutes() < 10) phut = `0${d.getMinutes()}`;
        return d.getHours() + ' H : ' + phut;
    }
    function formatDateTime(date) {
        let d = new Date(date);
        let month = '' + (d.getMonth() + 1);
        let   day = '' + d.getDate();
        let hours = d.getHours();
        let minutes = d.getMinutes();
        return `${hours} H : ${minutes} - ${day}/${month}`;
    }
    /*]]>*/
</script>

<script>
    let slThemMax ;

    let slHuyTheMax ;
    $(document).ready(function () {
        $('#input_so_luong_dich_vu_them').on('keydown keyup change', () => {
            if ($('#input_so_luong_dich_vu_them').val() > slThemMax) {
                $('#input_so_luong_dich_vu_them').val(slThemMax);
            }
            if ($('#input_so_luong_dich_vu_them').val() < 1) {
                $('#input_so_luong_dich_vu_them').val(1);
            }
        })
    });
    $(document).ready(function () {
        $('#input_so_luong_dich_vu_huy').on('keydown keyup change', () => {
            if ($('#input_so_luong_dich_vu_huy').val() > slHuyTheMax) {
                $('#input_so_luong_dich_vu_huy').val(slHuyTheMax);
            }
            if ($('#input_so_luong_dich_vu_huy').val() < 1) {
                $('#input_so_luong_dich_vu_huy').val(1);
            }
        })
    });
    $(document).ready(function () {
        $('#pagination-dich-vu_04_01').pagination({
            dataSource: `${apiResource}dich-vu`,
            locator: 'content',
            totalNumberLocator: res =>  res.totalElements,
            pageSize: 5,
            callback: function(data, pagination) {
                $('#data-dich_vu_04_01').html('');
                $.each(data, (index, dv) =>
                    $('#data-dich_vu_04_01').html($('#data-dich_vu_04_01').html() + `
                        <tr>
                            <td width="5%">${(pagination.pageSize) * (pagination.pageNumber -1) + index +1}</td>
                            <td width="40%">
                                <span class="ml-2">${dv.tenDichVu}</span>
                            </td>
                            <td width="30%">${dv.gia} vnd</td>
                            <td width="5%">
                                <span id="_so_luong_con_dich_vu_04_01">${dv.soLuongCon}</span>
                            </td>
                            <td width="20%">
                                <button class="btn btn-success w-100" data-target="#modal_them_dich_vu_04_01" data-toggle="modal" onclick="setThemDichVu(${dv.soLuongCon},${dv.id})"><i class="fa fa-chevron-left"></i></button>
                            </td>
                        </tr>
                    `)
                )
            }
        });
    });

    function setThemDichVu(sll, iddv) {
        showAndHide('_have_dich_vu', '_non_have_dich_vu');
        $('#input_so_luong_dich_vu_them').val(1);
        $('#_get_id_them_dich_vu').val(iddv);
        slThemMax = sll;
        if (sll === 0) showAndHide('_non_have_dich_vu', '_have_dich_vu');
    }
    function setHuyDichVu(iddv, sll) {
        $('#_get_id_huy_dich_vu').val(iddv);
        $('#input_so_luong_dich_vu_huy').val(1);
        slHuyTheMax = sll;
    }
    function onThemDichVu() {
        let iddv = parseInt($('#_get_id_them_dich_vu').val());
        let sldv = parseInt($('#input_so_luong_dich_vu_them').val());
        $.get(`${apiResource}hoa-don/them-dich-vu/${hoadon.id}/${iddv}/${sldv}`,(res, status) => {
            location.reload();
        });
    }
    function onHuyDichVu() {
        let iddv = parseInt($('#_get_id_huy_dich_vu').val());
        let sldv = parseInt($('#input_so_luong_dich_vu_huy').val());
        $.get(`${apiResource}hoa-don/tra-dich-vu/${hoadon.id}/${iddv}/${sldv}`,(res, status) => {
            location.reload();
        });
    }
    //final
    setChiTietDichVu();
</script>
</body>
</html>
