<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<script th:inline="javascript">
    /*<![CDATA[*/
    let hoadon = /*[[${hoadon}]]*/ 'Sebastian';

    let chiTietHoaDon = /*[[${chiTietHoaDon}]]*/
    console.log(hoadon);
    console.log(chiTietHoaDon);
    // $('#_table_ma_ph_03_0').text(phong.maPhong);
    // $('#_table_loai_phong_03_0').text(phong.tenLoaiPhong);
    // $('#_table_gia_tren_gio_03_0').text(phong.giaTrenGio + ' vnđ');

    /*]]>*/
</script>
</body>
</html>
