<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-success">
                <strong> <button type="button" onclick="insertNewKh()" class="btn btn-success">Thêm Mới</button></strong>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <theader>
                    <tr>
                        <th>STT</th>
                        <th>Mã KH</th>
                        <th>Tên KH</th>
                        <th>Sdt</th>
                        <th>CMND</th>
                        <th>Giới Tính</th>
                        <th>Options</th>
                    </tr>
                </theader>
                <tbody  id="data-container">
                </tbody>
            </table>
            <div id="pagination-khach-hang"></div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="alert alert-primary text-center card-header">
                    <span id="thongtin-nhan-vien">Thêm Khách Hàng </span>
                </div>
                <div class="card-body">
                    <input type="hidden" id="id-khach-hang">
                    <input type="hidden" id="ma-khach-hang">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >Tên Khách Hàng</span>
                        </div>
                        <input type="text" class="form-control" required="required" pattern="[A-Za-z\sÀ-ỹ]{1,30}" id="ten-khach-hang" value="Lê Văn Tuấn " aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >SĐT</span>
                        </div>
                        <input type='tel' pattern='0[0-9\s.-]{9,13}' required="required"  class="form-control" id="sdt-khach-hang" placeholder="0986488737" aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >CMND</span>
                        </div>
                        <input type="text" pattern="[0-9\s.-]{9,13}" required="required" class="form-control" id="cmnd-khach-hang" placeholder="18771684" aria-label="Username" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Giới Tính</span>
                        </div>
                        <select name="gioi-tinh-khach-hang" id="gioi-tinh-khach-hang">
                            <option value="nam">nam</option>
                            <option value="nu">nữ</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" onclick="sendDataToserve()" id="new-kh" class="btn btn-primary w-100">
                        Thêm khách hàng
                    </button>
                    <button type="button"   onclick="sendDataToserve()" id="update-kh" class="btn btn-primary w-100 d-none">
                        Cập nhật khách hàng
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let khachHang = []
    getKhachHang();
    function getKhachHang() {
        $('#pagination-khach-hang').pagination({
            dataSource: `${apiResource}khach-hang`,
            locator: 'content',
            totalNumberLocator: res =>  res.totalElements,
            pageSize: 5,
            callback: function(data, pagination) {
                $('#data-container').html('');
                $.each(data, (index, kh) =>
                    insertKhachHang((pagination.pageSize) * (pagination.pageNumber -1) + index +1, kh.id, kh.maKhachhang, kh.tenKhachHang, kh.soDienThoai, kh.cmnd, kh.gioiTinh ? 'nam' : 'nu')
                )
            }
        });
    }
    function insertKhachHang( stt, id, makh, tenkh, sdt, cmnd, gioiTinh) {
        $('#data-container').html($('#data-container').html() +`
                    <tr >

                        <td>${stt}</td>
                        <td>${makh}</td>
                        <td>${tenkh}</td>
                        <td>${sdt}</td>
                        <td>${cmnd}</td>
                        <td>${gioiTinh}</td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="updateTTKH(${id}, '${makh}', '${tenkh}', '${sdt}', '${cmnd}', '${gioiTinh}')">Edit</button>
                            <button type="button" class="btn btn-danger" onclick="xoaKhachHang(${id})">Delete</button>
                        </td>
                    </tr>
            `);
    }
    function updateTTKH(id, maKh, tenKh, sdt,cmnd, gioiTinh) {
        $('#thongtin-nhan-vien').text(`Thông Tin Khách Hàng ${maKh}`);
        $('#id-khach-hang').val(id);
        $('#ma-khach-hang').val(maKh);
        $('#ten-khach-hang').val(tenKh);
        $('#sdt-khach-hang').val(sdt);
        $('#cmnd-khach-hang').val(cmnd);
        $("#gioi-tinh-khach-hang").val(gioiTinh).change();
        showAndHide('update-kh', 'new-kh');


    }
    function insertNewKh() {
        $('#thongtin-nhan-vien').text(`Thêm Mới Khách Hàng`);
        $('#ten-khach-hang').val('');
        $('#sdt-khach-hang').val('');
        $('#cmnd-khach-hang').val('');
        $("#gioi-tinh-khach-hang").val('nam').change();
        showAndHide('new-kh', 'update-kh');
        $('#update-kh').text(" Thêm Khách Hàng");
    }

    $(document).ready(function(){
        $("#ten-khach-hang").on(' keyup keypress change', () => checkValueInsert());
        $("#cmnd-khach-hang").on(' keyup keypress change', () => checkValueInsert());
        $("#sdt-khach-hang").on(' keyup keypress change', () => checkValueInsert());
    });
    $('#update-kh').attr('disabled', true);
    $('#new-kh').attr('disabled', true);
    function checkValueInsert() {
        if ($('#ten-khach-hang').checkValidity() && $('#sdt-khach-hang').checkValidity()
        && $('#cmnd-khach-hang').checkValidity()) {
            $('#update-kh').attr('disabled', false);
            $('#new-kh').attr('disabled', false);
        } else {
            $('#update-kh').attr('disabled', true);
            $('#new-kh').attr('disabled', true);
        }
    }

    function sendDataToserve() {
        let data = {
            idKhachHang: $('#id-khach-hang').val(),
            tenKhachHang : $('#ten-khach-hang').val(),
            soDienThoai: $('#sdt-khach-hang').val(),
            gioiTinh: $("#gioi-tinh-khach-hang").val() === 'nam',
            cmnd : $('#cmnd-khach-hang').val()
        };
        console.log(data, '000000000');
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}khach-hang`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function updateDataToserve() {

        let data = {
            id: parseInt($('#id-khach-hang').val()),
            maKhachHang : $('#ma-khach-hang').val(),
            tenKhachHang : $('#ten-khach-hang').val(),
            soDienThoai: $('#sdt-khach-hang').val(),
            gioiTinh: $("#gioi-tinh-khach-hang").val() === 'nam',
            cmnd : $('#cmnd-khach-hang').val()
        };
        console.log('duoc ko?', data)
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}update-khach-hang`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                getKhachHang();
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function xoaKhachHang(id) {
        $.get(`${apiResource}xoa-khach-hang/${id}`,(res, status) => {
            $(`#id-khach-hang`).remove();
            getKhachHang();

        });
    }
</script>
</body>
</html>

