<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .vattu .list-group {
            max-height: 25em;
            margin-bottom: 10px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary alert alert-primary alert-link w-100" href="/phong-hat">
                                <strong>Danh sasch phong hat</strong>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="alert alert-success alert-link w-100">
                                <strong id="strong_them_moi__0">Them moi phong hat</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ma Phong</span>
                            </div>
                            <input type="text" disabled class="form-control w-100" id="ma_phong__0" value=""/>
                        </div>
                        <div class="col-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Loai Phong</span>
                            </div>
                            <select aria-describedby="basic-addon1" id="select-loai-phong" class="form-control w-100"
                                    name="as">
                                <option disabled selected value="null"> Chon loai phong</option>
                            </select>
                        </div>
                    </div>
                    <ul class=" list-group">
                        <div id="danh-sach-vat-tu">

                        </div>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <a class="col-6 btn btn-dark w-100" href="/phong-hat"> <i class="fa fa-backward"></i>  Back</a>
                        <button class="col-6 btn btn-success d-none" onclick="newPhongHat_0()" id="btn_new_phong_hat_0"> Them</button>
                        <button class="col-6 btn btn-success" onclick="onSaveToServer()" id="btn_update_phong_hat_0"> Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-3" id="show-loai-phong">
            <div class="card d-none" id="form_update_vat_tu_01_">
                <div class="card-header">
                    <div class="alert alert-primary text-center card-header">
                        <strong >Danh sách vật tư</strong>
                    </div>
                    <div class="row">
                        <button class="col-sm-6 btn btn-dark w-100" onclick="setFormShowVatTu()">
                            <i class="fa fa-backward"></i>  Back
                        </button>
                        <button class="col-sm-6 btn btn-success"  data-toggle="modal" data-target="#modal_update_vat_tu_01_" onclick="newVatTu()">Thêm mới vật tư</button>
                    </div>

                </div>
                <div class="card-body">
                    <ul class="list-group" id="group-vat-tu_01">

                    </ul>
                </div>
                <div class="card-footer">
                    <div id="pagination-danh-sach-vat-tu_01_"></div>
                </div>
            </div>
            <div class="card" id="form_update_phong_00_">
                <div class="card-header">
                    <div class="alert alert-primary text-center" role="alert">
                        <strong>Danh sách vật tư </strong>
                    </div>
                    <button class="btn btn-outline-info w-100" onclick="setFormNewVatTu()">
                        Cap nhat vật tư
                    </button>
                </div>
                <div class="card-body">
                    <ul class="list-group" id="group-vat-tu">
                    </ul>
                </div>
                <div class="card-footer">
                    <div id="pagination-danh-sach-vat-tu"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card" id="modal-them-vat-tu-vao-phong">
                <div class="card-header">
                    <div class="alert alert-primary text-center" role="alert">
                        <strong id="strong-nha-so-luong-vat-tu"></strong>
                    </div>
                </div>
                <div class="card-body">
                    <input id="input-so-luong-vat-tu" max="5" min="1" type="number" value="1" onkeyup="setminAndMaxVal()" onkeypress="setminAndMaxVal()"
                    onchange="setminAndMaxVal()" onkeydown="setminAndMaxVal()"/>
                    <button class="btn btn-success w-25" data-dismiss="modal" onclick="onSavevatTuInPhong()"> Save
                    </button>
                    <button class="btn btn-danger w-25" data-dismiss="modal"> Huy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalHuyVatTu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card" id="modal-huy-vat-tu-vao-phong">
                <div class="card-header">
                    <div class="alert alert-primary text-center" role="alert">
                        <strong> Huy Vat tu</strong>
                    </div>
                </div>
                <div class="card-body">
                    <input id="input-huy-so-luong-vat-tu" max="5" min="1" type="number" value="1"/>
                    <button class="btn btn-success w-25" data-dismiss="modal" onclick="onCancelVatTu()"> Save
                    </button>
                    <button class="btn btn-danger w-25" data-dismiss="modal"> Huy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    let vattu = [];
    let vatTuInPhong = [];
    let vatTuSelect = {};

    function setminAndMaxVal() {
        if (parseInt($('#input-so-luong-vat-tu').val()) >= vatTuSelect.soLuongVatTuCon) {
            $('#input-so-luong-vat-tu').val(vatTuSelect.soLuongVatTuCon);
        }
        if (parseInt($('#input-so-luong-vat-tu').val()) < 1) {
            $('#input-so-luong-vat-tu').val(1);
        }
    }
    function addVatTuToList(_vatT) {
        return `<li class="list-group-item " id="vat-tu-in-phong-${_vatT.id}">
                         <div class="row">
                         <div class="col-sm-9">
                                <div class="row">
                                <div class="col-9">
                                    ${_vatT.tenVatTu}
                                </div>
                                <div class="col-2">
                                    <span class="badge badge-primary badge-pill" id="so-luong-vat-tu-${_vatT.id}">${_vatT.soLuongVatTuCon}</span>
                                </div>
                                </div>

                         </div>
                         <div class="col-sm-2">
                            <button class="btn btn-success" onclick="setVatTuSelect(${_vatT.id})" data-target="#myModal" data-toggle="modal"><i class="fa fa-arrow-left"></i></button>
                        </div>
                    </div>
                </li>`;
    }

    let htmlModalOld = $(`#modal-them-vat-tu-vao-phong`).html();

    function setVatTuSelect(id) {
        vatTuSelect = vattu.filter(value => value.id === parseInt(id));
        vatTuSelect = vatTuSelect[0];
        if (vatTuSelect.soLuongVatTuCon <= 0) {
            $(`#modal-them-vat-tu-vao-phong`).html(`
            <div class="alert alert-primary text-center" role="alert">
            <strong> Hien tai vat tu nay da het trog kho</strong>
        </div>
            `);
        } else if (vatTuSelect.soLuongVatTuCon === 1) {
            $(`#modal-them-vat-tu-vao-phong`).html(htmlModalOld);
            $('#strong-nha-so-luong-vat-tu').text(`Vat tu con 1 san pham`);
        } else {
            $(`#modal-them-vat-tu-vao-phong`).html(htmlModalOld);
            $('#strong-nha-so-luong-vat-tu').text(`Nhập số lượng vật tư (1 den ${vatTuSelect.soLuongVatTuCon})`);
        }
        $("#input-so-luong-vat-tu").attr("max", vatTuSelect.soLuongVatTuCon);
        $("#input-so-luong-vat-tu").val(1);

    }

    function onSavevatTuInPhong() {
        let isHave = false;
        vatTuInPhong.forEach(value => {
            if (value.vattu.id === vatTuSelect.id) {
                value.sl += parseInt($(`#input-so-luong-vat-tu`).val());
                $(`#so-luong-vat-tu-trong-phong-${vatTuSelect.id}`).text(value.sl);
                isHave = true;
            }
        });
        if (!isHave) {
            addVatTuInPhong(vatTuSelect, $(`#input-so-luong-vat-tu`).val());
            vatTuInPhong.push({vattu: vatTuSelect, sl: parseInt($(`#input-so-luong-vat-tu`).val())});
        }
        $(`#so-luong-vat-tu-${vatTuSelect.id}`).text(parseInt($(`#so-luong-vat-tu-${vatTuSelect.id}`).text())
            - parseInt($(`#input-so-luong-vat-tu`).val()));
        vattu.forEach(value => {
            if (value.id === vatTuSelect.id) {
                value.soLuongVatTuCon = parseInt($(`#so-luong-vat-tu-${vatTuSelect.id}`).text());
            }
        });
        vatTuSelect = null;
    }

</script>
<script>

    $('#pagination-danh-sach-vat-tu').pagination({
        dataSource: `${apiResource}vat-tu`,// url?pageNumber=?&pageSize=?
        locator: 'content',
        totalNumberLocator: res => res.totalElements,
        pageSize: 4,
        callback: function (data, pagination) {
            // data.forEach(data => {
            //     vatTuInPhong.forEach(vtip => {
            //         if (data.id === vtip.vattu.id) {
            //             data.soLuongVatTuCon -= vtip.sl;
            //         }
            //     })
            // });
            vattu = data;
            $('#group-vat-tu').html('');
            $.each(data, (index, vatTu) => $('#group-vat-tu').append(addVatTuToList(vatTu))
            )
        }
    });
    let vatTuHuy;
    function setVatTuHuy(id) {
        vatTuHuy = vatTuInPhong.filter(value => value.vattu.id === parseInt(id));
        vatTuHuy = vatTuHuy[0];
        $('#input-huy-so-luong-vat-tu').val(1);
    }
    $(document).ready(function () {
        $('#input-huy-so-luong-vat-tu').on('keydown keyup change', () => {
            if ($('#input-huy-so-luong-vat-tu').val() > vatTuHuy.sl) {
                $('#input-huy-so-luong-vat-tu').val(vatTuHuy.sl);
            }
            if ($('#input-huy-so-luong-vat-tu').val() < 1) {
                $('#input-huy-so-luong-vat-tu').val(1);
            }
        })
    });
    function onCancelVatTu() {
        let isRemove = false;
        let idRemove = null;
        let slCon = null;

        const slhvt = parseInt($(`#input-huy-so-luong-vat-tu`).val());
        vattu.forEach(value => {
            if (value.id === vatTuHuy.vattu.id) {
                value.soLuongVatTuCon += slhvt;
            }
        });
        vatTuInPhong.forEach(value => {
            if (value.vattu.id === vatTuHuy.vattu.id) {
                value.sl -= slhvt;
                slCon = value.sl;

                if (value.sl === 0) {
                    isRemove = true;
                    idRemove = value.vattu.id;
                }
            }
        });

        if (isRemove){
            vatTuInPhong = vatTuInPhong.filter(value => value.vattu.id !== idRemove);
            $(`#vat-tu-in-phong-${idRemove}`).remove();
        }
        $(`#so-luong-vat-tu-trong-phong-${vatTuHuy.vattu.id}`).text(slCon);
        $(`#so-luong-vat-tu-${vatTuHuy.vattu.id}`).text(parseInt($(`#so-luong-vat-tu-${vatTuHuy.vattu.id}`).text())
            + parseInt($(`#input-huy-so-luong-vat-tu`).val()))
        vatTuHuy = null;
    }
    function addVatTuInPhong(_vatT, sl) {
        $(`#danh-sach-vat-tu`).append(`
        <li class="list-group-item d-flex justify-content-between align-items-center" id="vat-tu-in-phong-${_vatT.id}">
                                ${_vatT.tenVatTu}
        <div>
        <span class="badge badge-danger  badge-pill" id="so-luong-vat-tu-trong-phong-${_vatT.id}">${sl}</span>
        <button class="btn btn-info" onclick="setVatTuHuy(${_vatT.id})" data-target="#myModalHuyVatTu" data-toggle="modal"><i class="fa fa-arrow-right"></i></button>
</div>
        </li>
        `);
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let phong = /*[[${phong}]]*/ 'Sebastian';
    setPhong();
    function setPhong() {
        if (phong.id === 0) {
            showAndHide('btn_new_phong_hat_0', 'btn_update_phong_hat_0');
        } else {
            $('#strong_them_moi__0').text('Cap nhat phong hat');
        }
        $('#ma_phong__0').val(phong.maPhong);
        $.get(`${apiResource}loai-phong`,(res, status) => {
            $('#select-loai-phong').html('');
            loaiPhong = res;
            $.each(res,(index, loaiPhong) => {
                let selected = loaiPhong.id === phong.idLoaiPhong ? 'selected' : '';
                $('#select-loai-phong').append(`<option value="${loaiPhong.id}" ${selected}>${loaiPhong.loaiPhong}</option>  `);
            })
        });
        if (phong && phong.vatTus){
            $.each(phong.vatTus, (index, vt) => {
                addVatTuInPhong(vt.vatTu, vt.soLuongVatTu);
                vatTuInPhong.push({vattu: vt.vatTu, sl: vt.soLuongVatTu});
            });
        }
    }
    /*]]>*/
</script>
<script>
    function onSaveToServer() {
        $.ajax({
            type: "POST",
            url: `${apiResource}phong-hat/get/${phong.id}/${$('#select-loai-phong').find(":selected").val()}`,
            data: JSON.stringify(vatTuInPhong),
            success: res => {
                $.notify("Cập nhật thông tin phòng thành công", "success");
            },
            dataType: "json",
            contentType:'application/json'
        });
    }
</script>
<script>
    function setFormNewVatTu() {
        showAndHide('form_update_vat_tu_01_', 'form_update_phong_00_');
    }
    function setFormShowVatTu() {
        showAndHide('form_update_phong_00_', 'form_update_vat_tu_01_');
    }
    function newPhongHat_0() {
        $.ajax({
            type: "POST",
            url: `${apiResource}phong-hat/new`,
            data: JSON.stringify({idLoaiPhong: $('#select-loai-phong').find(":selected").val(),updatePhongDTOS: vatTuInPhong}),
            success: res => {
                window.location.href = `${window.location.origin}/phong-hat/update/${res.id}`;
                $.notify("Tạo thành công phòng mã Phòng là : " + res.maPhong, "success");
            },
            dataType: "json",
            contentType:'application/json'
        });
    }


</script>
<script>
    let vattu_01_ = [];

    const ipaResource = 'http://localhost:8080/api/';

    $('#pagination-danh-sach-vat-tu_01_').pagination({
        dataSource: `${apiResource}vat-tu`,// url?pageNumber=?&pageSize=?
        locator: 'content',
        totalNumberLocator: res => res.totalElements,
        pageSize: 2,
        callback: function (data, pagination) {
            vattu_01_ = data;
            $('#group-vat-tu_01').html('');
            $.each(data, (index, vatTu_01_) => $('#group-vat-tu_01').append(addVatTuToList_01(vatTu_01_))
            )
        }
    });

    function addVatTuToList_01(_vatT) {
        return `<li class="list-group-item" id="li-vat-tu-_01_01-${_vatT.id}">
                        <input type="hidden" id="vat-tu-_01_${_vatT.id}" name="vattu_01_">
                        <div class="input-group row">
                            <span class="col-6 alert alert-light h-100">${_vatT.tenVatTu}</span>
                            <span class="col-2">${_vatT.soLuongVatTuCon}</span>
                            <button class="col-2 alert alert-warning h-100"  data-toggle="modal" data-target="#modal_update_vat_tu_01_" onclick="modalEditVatTu_01_(${_vatT.id})">
                            <i class="fa fa-edit"></i>
                            </button>
                            <button onclick="xoaVatTu_01(${_vatT.id})" class="col-2 alert alert-danger h-100"" >
                            <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </li>`;
    }
    function newVatTu() {
        $('#ten_vat_tu_01').val('');
        $('#ma_vat_tu_01').val('');
        $('#so_luong_vat_tu_01').val('');
    }
    function themMoiVatTu_01_() {
        const data = {tenVatTu: $('#ten_vat_tu_01').val(), maVatTu: $('#ma_vat_tu_01').val(), soLuongVatTuCon: parseInt($('#so_luong_vat_tu_01').val())};
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${ipaResource}vat-tu`,
            data: JSON.stringify(data),
            dataType: 'json',
            success: res => $('#group-vat-tu_01').append(addVatTuToList_01(res))});
    }
    function modalEditVatTu_01_(id) {
        let vattuUpdate = vattu_01_.filter(vt => vt.id === id);
        $('#id_vat_tu_01_').val(id);
        $('#ten_vat_tu_01').val(vattuUpdate[0].tenVatTu);
        $('#ma_vat_tu_01').val(vattuUpdate[0].maVatTu);
        $('#so_luong_vat_tu_01').val(vattuUpdate[0].soLuongVatTuCon);
        showAndHide('btn-update-vat-tu_01_', 'btn-new-vat-tu_01_');
    }
    function editVatTu_01_() {
        let data = {id: parseInt($('#id_vat_tu_01_').val()),maVatTu:  $('#ma_vat_tu_01').val(), tenVatTu:  $('#ten_vat_tu_01').val(),  soLuongVatTuCon: parseInt($('#so_luong_vat_tu_01').val())};
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${ipaResource}update-vat-tu`,
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                $.each(vattu_01_, (index, value) => vattu_01_[index] = value.id === data.id ? data : vattu_01_[index]);
                $(`#li-vat-tu-_01_01-${data.id}`).html(`
                        <input type="hidden" id="vat-tu-_01_${data.id}" name="vattu_01_">
                        <div class="input-group row">
                            <span class="col-6 alert alert-light h-100"">${data.tenVatTu}</span>
                             <span class="col-2">${data.soLuongVatTuCon}</span>
                            <button class="col-2 alert alert-warning h-100"  data-toggle="modal" data-target="#modal_update_vat_tu_01_" onclick="modalEditVatTu_01_(${data.id})">
                            <i class="fa fa-edit"></i>
                            </button>
                            <button onclick="xoaVatTu_01(${data.id})" class="col-2 alert alert-danger h-100"" >
                            <i class="fa fa-trash"></i>
                            </button>
                        </div>
                `)
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function xoaVatTu_01(id) {
        $.get(`${ipaResource}xoa-vat-tu/${id}`,(res, status) => {
            if (res == true) {
                $(`#li-vat-tu-_01_01-${id}`).remove();
            } else {
                $.notify("Xóa vật tư thất bại,Hãy đảm bảo không có phòng nào không sử dụng vật tư này !", "danger");
            }
        });
    }
</script>

<div class="modal fade" id="modal_update_vat_tu_01_">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Danh sách vật tư</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body vattu_01_" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="ma_vat_tu_01"  class="input-group-text" >Mã Vật Tư</label>
                    </div>
                    <input type="hidden" id="id_vat_tu_01_">
                    <input type="text" class="form-control" id="ma_vat_tu_01">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="ten_vat_tu_01" class="input-group-text" >Tên Vật Tư</label>
                    </div>
                    <input type="text" class="form-control"  id="ten_vat_tu_01">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="so_luong_vat_tu_01" class="input-group-text" >Số lượng</label>
                    </div>
                    <input type="number" class="form-control" id="so_luong_vat_tu_01">
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="form-inline">
                    <button type="button" class="btn btn-success ml-2" onclick="editVatTu_01_()" data-dismiss="modal" id="btn-update-vat-tu_01_">Save</button>
                    <button type="button" class="btn btn-success ml-2" onclick="themMoiVatTu_01_()" data-dismiss="modal" id="btn-new-vat-tu_01_">Thêm</button>
                    <button type="button" class="btn btn-danger ml-2 " data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
