<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-2"></div>
    <div class="card col-8">
        <div class="card-body">
            <div class="alert alert-primary text-center card-header">
                <strong>Danh sách vật tư</strong>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-success w-100" href="/nhap-vat-tu">Nhập vật tư</a>
                <button class="btn btn-outline-warning w-100" data-toggle="modal"
                        data-target="#modal_update_vat_tu_01_" onclick="modalnewVatTu_00_0_()">Thêm vật tư
                </button>
            </div>
            <ul class="list-group" id="group-vat-tu_01">

            </ul>
        </div>
        <div class="card-footer">
            <div id="pagination-danh-sach-vat-tu_01_"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="modal_update_vat_tu_01_">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Danh sách vật tư</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body vattu_01_">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="ma_vat_tu_01" class="input-group-text">Mã Vật Tư</label>
                    </div>
                    <input type="hidden" id="id_vat_tu_00_0_">
                    <input type="text" class="form-control" id="ma_vat_tu_01" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="ten_vat_tu_00_0_" class="input-group-text">Tên Vật Tư</label>
                    </div>
                    <input type="text" class="form-control" id="ten_vat_tu_00_0_">
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="form-inline">
                    <button type="button" class="btn btn-success ml-2 d-none"  onclick="editVatTu_00_0_()"
                            data-dismiss="modal" id="btn-update-vat-tu_01_">Save
                    </button>
                    <button type="button" class="btn btn-success ml-2"  onclick="themMoiVatTu_00_0_0()"
                            data-dismiss="modal" id="btn-new-vat-tu_01_">Thêm
                    </button>
                    <button type="button" class="btn btn-danger ml-2 " data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let vattu_01_ = [];

    $('#pagination-danh-sach-vat-tu_01_').pagination({
        dataSource: `${apiResource}vat-tu`,// url?pageNumber=?&pageSize=?
        locator: 'content',
        totalNumberLocator: res => res.totalElements,
        pageSize: 10,
        callback: function (data, pagination) {
            vattu_01_ = data;
            $('#group-vat-tu_01').html(`<li class="list-group-item" >
                        <div class="input-group row">
                            <span class="col-3">Mã Vật tư</span>
                            <span class="col-3">Tên Vật tư</span>
                            <span class="col-2 text-right">Số lượng còn</span>
                            <span class="col-4 text-center">Action</span>
                        </div>
                    </li>`);
            $.each(data, (index, vatTu_01_) => $('#group-vat-tu_01').append(addVatTuToList_01(vatTu_01_))
            )
        }
    });

    function addVatTuToList_01(_vatT) {
        return `<li class="list-group-item" id="li-vat-tu-_01_01-${_vatT.id}">
                        <div class="input-group row">
                            <span class="col-6  h-100">
                            <div class="row">
                            <div class="col-6">${_vatT.maVatTu}</div>
                            <div class="col-6">${_vatT.tenVatTu}</div>
                            </div>
                            </span>
                            <span class="col-2 text-right">${_vatT.soLuongVatTuCon}</span>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="alert alert-warning w-100"  data-toggle="modal" data-target="#modal_update_vat_tu_01_" onclick="modalEditVatTu_00_0_0(${_vatT.id})">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button onclick="xoaVatTu_00_0_(${_vatT.id})" class="alert alert-danger  w-100" >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>`;
    }

    function modalnewVatTu_00_0_() {
        $('#id_vat_tu_00_0_').val('');
        $('#ten_vat_tu_00_0_').val('');
        $('#ma_vat_tu_01').val('');
        showAndHide('btn-new-vat-tu_01_', 'btn-update-vat-tu_01_');
    }

    function modalEditVatTu_00_0_0(id) {
        let vattuUpdate = vattu_01_.filter(vt => vt.id === id);
        $('#id_vat_tu_00_0_').val(id);
        $('#ten_vat_tu_00_0_').val(vattuUpdate[0].tenVatTu);
        $('#ma_vat_tu_01').val(vattuUpdate[0].maVatTu);
        showAndHide('btn-update-vat-tu_01_', 'btn-new-vat-tu_01_');
    }

    function themMoiVatTu_00_0_0() {
        if ($('#ten_vat_tu_00_0_').val().length === 0 ) {
            $.notify("Tên vật tư không thể bỏ trống", "danger");
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}vat-tu?vatTu=${$('#ten_vat_tu_00_0_').val()}`,
            dataType: 'json',
            success: res => {
                $.notify("Thêm vật tư thành công", "success");
                $('#group-vat-tu_01').append(addVatTuToList_01(res))
            }});
    }

    function xoaVatTu_00_0_(id) {
        $.get(`${apiResource}xoa-vat-tu/${id}`,(res, status) => {
            if (res == true) {
                $(`#li-vat-tu-_01_01-${id}`).remove();
            } else {
                $.notify("Xóa vật tư thất bại,Hãy đảm bảo không có phòng nào không sử dụng vật tư này !", "danger");
            }
        });
    }

    function editVatTu_00_0_() {
        if ($('#ten_vat_tu_00_0_').val().length === 0 ) {
            $.notify("Tên vật tư không thể bỏ trống", "danger");
            return;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}update-vat-tu/${parseInt($('#id_vat_tu_00_0_').val())}?vatTu=${$('#ten_vat_tu_00_0_').val()}`,
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                $.each(vattu_01_, (index, value) => vattu_01_[index] = value.id === data.id ? data : vattu_01_[index]);
                $(`#li-vat-tu-_01_01-${data.id}`).html(`
                        <div class="input-group row">
                            <span class="col-6  h-100">
                            <div class="row">
                            <div class="col-6">${data.maVatTu}</div>
                            <div class="col-6">${data.tenVatTu}</div>
                            </div>
                            </span>
                            <span class="col-2 text-right">${data.soLuongVatTuCon}</span>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="alert alert-warning w-100"  data-toggle="modal" data-target="#modal_update_vat_tu_01_" onclick="modalEditVatTu_00_0_0(${data.id})">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button onclick="xoaVatTu_00_0_(${data.id})" class="alert alert-danger  w-100" >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                `)
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
</body>
</html>
