<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="sidebar" id="sidebar">
    <div class="sidebar-header">
        <a href="/">
            <h3>Quản lý quán</h3>
            <div  class="text-center">
                <h3><strong>KARAOKE IONE</strong></h3>
            </div>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Thống kê</a>
        </li>
        <li>
            <a href="/phong-hat">Phòng hát</a>
        </li>
        <li>
            <a href="/dich-vu">
                DỊch vụ
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
