<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="sidebar" id="sidebar">
    <div class="sidebar-header">
        <a href="/">
            <h3>Quản lý quán</h3>
            <div  class="text-center">
                <h3><strong>KARAOKE IONE</strong></h3>
            </div>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Thống kê</a>
        </li>
        <li class="active">
            <a href="#phongHatMenu__00" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                <i class="fa fa-hotel"></i>
                Phòng hát
            </a>
            <ul class=" list-unstyled" id="phongHatMenu__00">
                <li>
                    <a href="/phong-hat">
                        Danh sách
                    </a>
                </li>
                <li>

                </li>
                <li>
                    <a href="/phong-hat/new">
                        Thêm Phòng
                    </a>
                </li>
                <li>
                    <a href="/danh-sach-hoa-don">
                        Hóa đơn
                    </a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                <i class="fa fa-cutlery"></i>
                Dịch vụ
            </a>
            <ul class=" list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/dich-vu">
                        Danh sách
                    </a>
                </li>
                <li>
                <li>
                    <a href="/nhap-hang">
                        nhập thêm
                    </a>
                </li>
                </li>
                <li>
                    <a href="/list-hoa-don/0">
                        Hóa đơn
                    </a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#_vat_tu_menu_00" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                <i class="fa fa-ticket"></i>
                Vật tư
            </a>
            <ul class=" list-unstyled" id="_vat_tu_menu_00">
                <li>
                    <a href="/danh-sach-vat-tu">
                        Danh sách
                    </a>
                </li>
                <li>
                <li>
                    <a href="/nhap-vat-tu">
                        nhập thêm
                    </a>
                </li>
                </li>
                <li>
                    <a href="/list-hoa-don/1">
                        Hóa đơn
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="/danh-sach-khach-hang" >
                <i class="fa fa-user"></i>
               Khách hàng
            </a>

        </li>
    </ul>
</nav>
</body>
</html>
