<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" id="_phieu_nhap_hang_00_0">
    <div class="row">
        <div class="col-12" id="_bang_hoa_don_04_0">
            <div class="text-center ">
                <p>KARAOKE IONE</p>
                <p>Địa chỉ : 180 Nguyễn Tuân - Quận Thanh Xuân - Hà Nội</p>
                <p>Hotline : 0978785678</p>

            </div>
            <div class="alert alert-success text-center">
                <strong style="font-size: 1.5em" th:if="${type == 0}">HÓA ĐƠN NHẬP DỊCH VỤ</strong>
                <strong style="font-size: 1.5em" th:if="${type == 1}">HÓA ĐƠN NHẬP VẬT TƯ</strong>
                <p id="_date_now_03_">Thời gian nhập : <span  th:text="${hoadon.thoiGianNhap}"></span></p>
                <p id="_ma_hoa_don_03_" > Mã phiếu : <span th:text="${hoadon.maPhieuNhap}"></span></p>
            </div>
            <div class="mt-2 row">
                <div class="col-6 text-left">
                    Nhân viên : <span id="_thong_tin_nhan_vien_03_" th:text="${hoadon.nhanVien.tenNhanVien}"></span>
                </div>
                <div class="col-6" id="btn_btn_in_pheu_00_0">
                    <div class="text-right">
                        <button class="btn btn-info" onclick="inPhieu_00_0()">In phiếu</button>
                    </div>
                </div>
            </div>
            <table class="table table-md table-striped mt-1">
                <tr>
                    <td width="40%">Đơn vị đối tác</td>
                    <td th:text="${hoadon.donViDoiTac}"></td>
                </tr>
                <tr>
                    <td>Địa chỉ đối tác</td>
                    <td th:text="${hoadon.diaChiDoiTac}"></td>
                </tr>
                <tr>
                    <td>Người đại diện</td>
                    <td th:text="${hoadon.nguoiDaiDien}"></td>
                </tr>
                <tr>
                    <td>Thông tin người đại diện</td>
                    <td th:text="${hoadon.nguoiDaiDien}"></td>
                </tr>
            </table>
            <div class="mt-2">
                <table class="table table-striped table-sm" th:if="${type == 0}">
                    <theader>
                        <th class="text-center">Tên dịch vụ</th>
                        <th class="text-right">Số lượng</th>
                        <th class="text-right">Đơn vị tính</th>
                        <th  class="text-right">Đơn giá</th>
                        <th class="text-right">Thành tiền</th>
                    </theader>
                    <tbody >
                    <tr th:each="dv : ${chitiet}">
                        <td class="text-center" th:text="${dv.dichVu.tenDichVu}"></td>
                        <td class="text-right" th:text="${dv.soLuong}"></td>
                        <td class="text-right" th:text="${dv.dichVu.donViDo}"></td>
                        <td class="text-right" th:text="${dv.donGia}"></td>
                        <td class="text-right"> <span class="_tien_dich_vu_00_0" th:text="${dv.soLuong * dv.donGia}"></span> vnd</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-sm" th:if="${type == 1}">
                    <theader>
                        <th class="text-center">Mã vật tư</th>
                        <th class="text-center">Tên vật tư</th>
                        <th class="text-right">Số lượng</th>
                        <th  class="text-right">Giá nhập</th>
                        <th class="text-right">Thành tiền</th>
                    </theader>
                    <tbody >
                    <tr th:each="dv : ${chitiet}">
                        <td class="text-center" th:text="${dv.vatTu.maVatTu}"></td>
                        <td class="text-center" th:text="${dv.vatTu.tenVatTu}"></td>
                        <td class="text-right" th:text="${dv.soLuong}"></td>
                        <td class="text-right" th:text="${dv.donGia}"></td>
                        <td class="text-right"> <span class="_tien_dich_vu_00_0" th:text="${dv.soLuong * dv.donGia}"></span> vnd</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <div class="bg-light">
                        Tông số tiền (Số) : <span id="_tong_cong_tien_dich_vu_00_"></span> vnđ
                    </div>
                    <div>
                        Tông số tiền (Viết bằng chữ) : <span id="_tong_cong_tien_dv_bag_chu_00_"></span> đồng
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3">
                    <div class="text-center">
                        <h5>Người lập phiếu</h5>
                        <h6 class="mt-5">(Ký, Họ tên)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var ChuSo=new Array(" không "," một "," hai "," ba "," bốn "," năm "," sáu "," bảy "," tám "," chín ");
    var Tien=new Array( "", " nghìn", " triệu", " tỷ", " nghìn tỷ", " triệu tỷ");

    //1. Hàm đọc số có ba chữ số;
    function DocSo3ChuSo(baso)
    {
        var tram;
        var chuc;
        var donvi;
        var KetQua="";
        tram=parseInt(baso/100);
        chuc=parseInt((baso%100)/10);
        donvi=baso%10;
        if(tram==0 && chuc==0 && donvi==0) return "";
        if(tram!=0)
        {
            KetQua += ChuSo[tram] + " trăm ";
            if ((chuc == 0) && (donvi != 0)) KetQua += " linh ";
        }
        if ((chuc != 0) && (chuc != 1))
        {
            KetQua += ChuSo[chuc] + " mươi";
            if ((chuc == 0) && (donvi != 0)) KetQua = KetQua + " linh ";
        }
        if (chuc == 1) KetQua += " mười ";
        switch (donvi)
        {
            case 1:
                if ((chuc != 0) && (chuc != 1))
                {
                    KetQua += " mốt ";
                }
                else
                {
                    KetQua += ChuSo[donvi];
                }
                break;
            case 5:
                if (chuc == 0)
                {
                    KetQua += ChuSo[donvi];
                }
                else
                {
                    KetQua += " lăm ";
                }
                break;
            default:
                if (donvi != 0)
                {
                    KetQua += ChuSo[donvi];
                }
                break;
        }
        return KetQua;
    }

    //2. Hàm đọc số thành chữ (Sử dụng hàm đọc số có ba chữ số)

    function DocTienBangChu(SoTien)
    {
        var lan=0;
        var i=0;
        var so=0;
        var KetQua="";
        var tmp="";
        var ViTri = new Array();
        if(SoTien<0) return "Số tiền âm !";
        if(SoTien==0) return "Không đồng !";
        if(SoTien>0)
        {
            so=SoTien;
        }
        else
        {
            so = -SoTien;
        }
        if (SoTien > 8999999999999999)
        {
            //SoTien = 0;
            return "Số quá lớn!";
        }
        ViTri[5] = Math.floor(so / 1000000000000000);
        if(isNaN(ViTri[5]))
            ViTri[5] = "0";
        so = so - parseFloat(ViTri[5].toString()) * 1000000000000000;
        ViTri[4] = Math.floor(so / 1000000000000);
        if(isNaN(ViTri[4]))
            ViTri[4] = "0";
        so = so - parseFloat(ViTri[4].toString()) * 1000000000000;
        ViTri[3] = Math.floor(so / 1000000000);
        if(isNaN(ViTri[3]))
            ViTri[3] = "0";
        so = so - parseFloat(ViTri[3].toString()) * 1000000000;
        ViTri[2] = parseInt(so / 1000000);
        if(isNaN(ViTri[2]))
            ViTri[2] = "0";
        ViTri[1] = parseInt((so % 1000000) / 1000);
        if(isNaN(ViTri[1]))
            ViTri[1] = "0";
        ViTri[0] = parseInt(so % 1000);
        if(isNaN(ViTri[0]))
            ViTri[0] = "0";
        if (ViTri[5] > 0)
        {
            lan = 5;
        }
        else if (ViTri[4] > 0)
        {
            lan = 4;
        }
        else if (ViTri[3] > 0)
        {
            lan = 3;
        }
        else if (ViTri[2] > 0)
        {
            lan = 2;
        }
        else if (ViTri[1] > 0)
        {
            lan = 1;
        }
        else
        {
            lan = 0;
        }
        for (i = lan; i >= 0; i--)
        {
            tmp = DocSo3ChuSo(ViTri[i]);
            KetQua += tmp;
            if (ViTri[i] > 0) KetQua += Tien[i];
            if ((i > 0) && (tmp.length > 0)) KetQua += ',';//&& (!string.IsNullOrEmpty(tmp))
        }
        if (KetQua.substring(KetQua.length - 1) == ',')
        {
            KetQua = KetQua.substring(0, KetQua.length - 1);
        }
        KetQua = KetQua.substring(1,2).toUpperCase()+ KetQua.substring(2);
        return KetQua;//.substring(0, 1);//.toUpperCase();// + KetQua.substring(1);
    }
</script>

<script>
    function formatTime(val) {
        let d = val ? new Date(val) : new Date();
        let phut = d.getMinutes();
        if (d .getMinutes() < 10) phut = `0${d.getMinutes()}`;
        return d.getHours() + ' H : ' + phut;
    }
    let ele = $('._tien_dich_vu_00_0');
    let xObj = Object.keys(ele);
    let tong_tien = 0;
    for (let i = 0; i < xObj.length - 2; i++) {
        tong_tien += parseInt(ele[xObj[i]].innerText);
    }
    $('#_tong_cong_tien_dich_vu_00_').text(tong_tien);
    $('#_tong_cong_tien_dv_bag_chu_00_').text(DocTienBangChu(tong_tien));

    function inPhieu_00_0() {
        $('#btn_btn_in_pheu_00_0').addClass('d-none');
        let printContents = document.getElementById('_phieu_nhap_hang_00_0').innerHTML;
        let originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        $('#btn_btn_in_pheu_00_0').removeClass('d-none');
    }
</script>


</body>
</html>
