<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-9 card ">
            <div class="row">
                <div class="col-12 card-header">
                    <div class="alert alert-success text-center">
                        Nhập hàng vật tư
                    </div>
                </div>
                <div class="col-5">
                    <div class="card-body">
                        <div >
                            <label class="input-group-text" for="don_vi_doi_tac_07_02_">Đơn vị đối tác</label>
                            <input type="text" id="don_vi_doi_tac_07_02_" class="form-control">
                        </div>

                        <div class="mt-2">
                            <label class="input-group-text" for="dia_chi_doi_tac_07_02">Địa chỉ đối tác</label>
                            <input type="text" id="dia_chi_doi_tac_07_02" class="form-control">
                        </div>

                        <div class="mt-2">
                            <label class="input-group-text" for="nguoi_dai_dien_07_02">Người đại diện</label>
                            <input type="text" id="nguoi_dai_dien_07_02" class="form-control">
                        </div>

                        <div class="mt-2">
                            <label class="input-group-text" for="thong_tin_ndd_07_02">Thông tin người đại diện</label>
                            <input type="text" id="thong_tin_ndd_07_02" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <div class="alert alert-warning text-center">
                            Danh sách Vật tư nhập
                        </div>
                        <table class="mt-2 table table-sm">
                            <theader>
                                <th>STT</th>
                                <th>Mã Vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Giá nhập/sp</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                            </theader>
                            <tbody id="_danh_sach_dich_vu_da_them_07_02_">
                            </tbody>
                        </table>
                        <div class="mt-3 text-right">
                            Tong tien : <span id="_tong_rien_07_02_">0</span> vnd
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="row">
                        <div class="col-5">
                            <button onclick="window.history.back();" class="btn btn-dark w-100 ml-2 mr-2">huy</button>
                        </div>
                        <div class="col-7">
                            <button class="btn btn-success w-100  ml-2 mr-2" id="_btn_tao_phieu_nhap_hang_07_02_" onclick="taoPhieuNhapHang_07_02_()">Tao phieu Nhap hang</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 card" id="_danh_sach_vat_tu_07_0">
            <div class="card-header">
                <div class="alert alert-success text-center alert-link w-100">
                    <strong >Danh sách vật tư</strong>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="/danh-sach-vat-tu" class="btn btn-danger w-100  ml-2 mr-2"  target="_blank">Thêm mới vật tư</a>
                    </div>
                    <div class="col-6">
                        <button class=" btn btn-success w-100  ml-2 mr-2" onclick="loadDichVu_07_02_()"> <i class="fa fa-refresh mr-2"></i>reload</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="w-100 table table-sm  table-striped" >
                    <theader>
                        <th>STT</th>
                        <th>Vật tư</th>
                        <th>Action</th>
                    </theader>
                    <tbody id="data_dich_vu_07_02_"></tbody>
                </table>
            </div>
            <div class="card-footer">
                <div id="pagination_dich_vu_07_02_"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_them_dich_vu_04_01">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card" id="_have_dich_vu">
                    <div class="card-header">
                        <div class="alert alert-primary text-center" role="alert">
                            <strong> Thông tin nhập</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="_id_them_vat_tu_00_0">
                        <input type="hidden" id="_ma_them_vat_tu_00_0">
                        <div>
                            <label for="_ten_vat_tu_them_00_0">Vật tư</label>
                            <input type="text"  class="form-control" disabled id="_ten_vat_tu_them_00_0">
                        </div>
                        <div>
                            <label for="input_so_luong_dich_vu_them_07_02_">Số lượng</label>
                            <input id="input_so_luong_dich_vu_them_07_02_" class="form-control"  min="1" type="number" value="1"/>
                        </div>
                        <div class="mt-3">
                            <label for="input_don_gia_dich_vu">Giá nhập</label>
                            <input id="input_don_gia_dich_vu" class="form-control" pattern="[0-9]+" value="1"/>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success w-25" data-dismiss="modal" id="_btn_btn_themdichvu_00" disabled onclick="onThemDichVu_07_02()"> Lưu
                        </button>
                        <button class="btn btn-danger w-25" data-dismiss="modal"> Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    loadDichVu_07_02_();
    function loadDichVu_07_02_() {
        $('#pagination_dich_vu_07_02_').pagination({
            dataSource: `${apiResource}vat-tu`,
            locator: 'content',
            totalNumberLocator: res =>  res.totalElements,
            pageSize: 5,
            callback: function(data, pagination) {
                $('#data_dich_vu_07_02_').html('');
                $.each(data, (index, vt) =>
                    $('#data_dich_vu_07_02_').html($('#data_dich_vu_07_02_').html() + `
                        <tr>
                            <td width="5%">${(pagination.pageSize) * (pagination.pageNumber -1) + index +1}</td>
                            <td width="40%">
                                <span class="ml-2">${vt.tenVatTu}</span>
                            </td>
                            <td width="20%">
                                <button class="btn btn-success w-100" data-target="#modal_them_dich_vu_04_01" data-toggle="modal"
                                onclick="setThemVatTu_00_0(${vt.id}, '${vt.tenVatTu}', '${vt.maVatTu}')"><i class="fa fa-chevron-left"></i></button>
                            </td>
                        </tr>
                    `)
                )
            }
        });
    }
    let list_vat_tu_00_0_ = [];
    let tong_tien = 0;
    function setThemVatTu_00_0(id, ten, ma) {
        $('#_id_them_vat_tu_00_0').val(id);
        $('#_ten_vat_tu_them_00_0').val(ten);
        $('#_ma_them_vat_tu_00_0').val(ma);
        $('#input_so_luong_dich_vu_them_07_02_').val(1);
        $('#input_don_gia_dich_vu').val('');
    }
    function onThemDichVu_07_02() {
        let donGia_ = parseInt(parseInt($('#input_don_gia_dich_vu').val()));
        let sl_ = parseInt($('#input_so_luong_dich_vu_them_07_02_').val());
        list_vat_tu_00_0_.push({
            sanPhamId: $('#_id_them_vat_tu_00_0').val(),
            sl: sl_,
            donGia: donGia_
        });
        tong_tien += parseInt(sl_ * donGia_);
        $('#_tong_rien_07_02_').text(tong_tien);
        $('#_danh_sach_dich_vu_da_them_07_02_').append(`<tr>
                                <td>${list_vat_tu_00_0_.length}</td>
                                <td>${$('#_ma_them_vat_tu_00_0').val()}</td>
                                <td>${$('#_ten_vat_tu_them_00_0').val()}</td>
                                <td>${donGia_}</td>
                                <td>${sl_}</td>
                                <td>${parseInt(sl_ * donGia_)}</td>
                            </tr>`);
    }

    function taoPhieuNhapHang_07_02_() {
        if ($('#don_vi_doi_tac_07_02_').val().length === 0 ||
            $('#dia_chi_doi_tac_07_02').val().length === 0 ||
            $('#nguoi_dai_dien_07_02').val().length === 0 ||
            $('#thong_tin_ndd_07_02').val().length === 0
        )  {
            $.notify("Vui lòng nhập đầy đủ thông tin đối tác", "danger");
            return;
        }
        if (list_vat_tu_00_0_.length === 0) {
            $.notify("Vui lòng chọn ít nhất 1 vật tư", "danger");
            return;
        }
        $.notify("Đang tiến hành lập phiếu", "info");
        $('#_btn_tao_phieu_nhap_hang_07_02_').attr('disabled', true);
        let data = {
            donViDoiTac: $('#don_vi_doi_tac_07_02_').val(),
            diaChiDoiTac: $('#dia_chi_doi_tac_07_02').val(),
            nguoiDaiDien: $('#nguoi_dai_dien_07_02').val(),
            thongTinNDD: $('#thong_tin_ndd_07_02').val(),
            sanPhamDTOS: list_vat_tu_00_0_
        };
        console.log(data);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: `${apiResource}nhap-hang-vat-tu`,
            data: JSON.stringify(data),
            dataType: 'json',
            success: (res) => {
                window.location.href = `${window.location.origin}/nhap-hang-vat-tu/${res}`;
            }
        });
    }


    validOnlyNumber('_btn_btn_themdichvu_00', 'input_don_gia_dich_vu', 'input_so_luong_dich_vu_them_07_02_');

</script>
</body>
</html>
